/**{margin: 0;
  padding: 0;
  border: 0;
}

  html {box-sizing: border-box;}
} */


:root {--color-fuente:#333;
    --color-inverso: #fffffff6;
    --color-concreto: rgba(255, 166, 0, 0.863);
    --fuente-arial: Arial, Helvetica, sans-serif;
}

body {color: var(--color-fuente);
    /*border-style: solid;
    border-color:var(--color-fuente);*/
    /*padding: 1%;*/
    /*background-color: rgba(189, 188, 188, 0.377);*/
    background-image:"../assets/img/cssImages/fondo_pagina.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {background-color:var(--color-fuente);
    color:var(--color-concreto);
    text-align: center;
    border-style: solid;
    border-color: var(--color-fuente);

}

p {font-size: 16px;

}

h1, h2, h3 {font-style: italic;
    font: bolder;
    text-align: center;
}

.izquierda {text-align: left;

}

.anaranjado {color: var(--color-concreto)

}

.destacado {color: #00ffff;
    font-weight: bold;
}

p.destacado {color: #a52a2a;

}

/*nav a {font-family: Arial, Helvetica, sans-serif;
    color: var(--color-fuente);
}*/

nav.main a {color: var(--color-fuente)
    var(--fuente-arial);
    text-decoration: transparent;
    transition: all ease-in-out 0.3;
    /*padding-top: 5dvh;
    padding-bottom: 5dvh;*/
        &:hover {background-color: var(--color-concreto);/*SIN ACABAR*/
            
        }
}

nav.footer a {color: var(--color-inverso)
    var(--fuente-arial);
    /*padding-top: 5dvh;
    padding-bottom: 5dvh;*/
}

.grande {font-size: larger;

}

div {/*padding-top: 5dvh;
    padding-bottom: 5dvh;*/
        img {width: 30dvw;
        } 

}

#otrosIntereses {color: var(--color-concreto)

}

table.bordes {border-style: solid;
    border-width: 5px;
}

footer {background-color: var(--color-fuente);
    color:var(--color-inverso);
}

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

