/*p {color: purple;
font-size: 15px;
}*/

h1, h2, h3 {font-style: italic;

}
.destacado {color: aqua;
    font-weight: bold;
}

p.destacado {color: brown;

}

nav a {font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.grande {font-size: larger;

}

div > img {width: 33%;

}

#otrosIntereses {color: rgba(36, 33, 33, 0.76);

}

table.bordes {
    border-style: dotted;
}